.columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&--center {
		align-items: center;
	}
	&--start {
		justify-content: flex-start;
	}
	&__column {
		&--1 {
			width: calc(100% / 12 - 10px);
		}
		&--2 {
			width: calc(100% / 12 * 2 - 10px);
		}
		&--3 {
			width: calc(100% / 12 * 3 - 10px);
		}
		&--4 {
			width: calc(100% / 12 * 4 - 10px);
		}
		&--5 {
			width: calc(100% / 12 * 5 - 10px);
		}
		&--6 {
			width: calc(50% - 10px);
		}
		&--7 {
			width: calc(100% / 12 * 7 - 10px);
		}
		&--8 {
			width: calc(100% / 12 * 8 - 10px);
		}
		&--9 {
			width: calc(100% / 12 * 9 - 10px);
		}
	}
}