.modal-menu {
	width: rem(1070);
	display: flex !important;
	max-width: 100%;
	&__side {
		width: calc(100% / 12 * 5);
		padding: rem(45) rem(40);
		background-color: #F2F2F2;
	}
	&__main {
		width: calc(100% / 12 * 7);
		padding: rem(45) rem(58);
	}
	&__head {
		min-height: rem(66);
	}
	&__title {
		font-size: rem(24);
		font-weight: 900;
		font-family: $font-title;
		text-transform: uppercase;
	}
	&__nav-link {
		display: block;
		text-decoration: none;
		margin-bottom: 0.5rem;
		&:hover {
			opacity: 0.7;
		}
		&--active {
			color: $orange;
		}
	}
	&__content {
		columns: 2;
		columns-gap: rem(40);
		display: none;
		visibility: hidden;
		&--active {
			display: block;
			visibility: visible;
		}
	}
	&__link {
		text-decoration: none;
		display: block;
		margin-bottom: 0.5rem;
		font-family: $font-main;
		font-weight: 300;
		&:hover {
			opacity: 0.7;
		}
	}
}