// Colors
$orange: #E25D23;
$orange-light: #F3723A;
$dark: #2B2A29;
$light: #FFFFFF;
$gray: #F2F2F2;

// Fonts
$font-main: 'Jost', 'Open Sans', 'Arial', sans-serif;
$font-title: 'Roboto', 'Open Sans', 'Arial', sans-serif;