.table-btn {
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: rem(30);
	font-size: rem(16);
	font-weight: 700;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.3s all;
	border: none;
	background: none; 
	&:hover {
		opacity: 0.7;
	}
}