.item-format {
	display: block;
	min-width: rem(185);
	@include r(1200) {
		min-width: 0;
	}
	&__thumb {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(10);
		width: rem(80);
		height: rem(80);
		position: relative;
	}
	&__icon {
		display: block;
		width: 100%;
		height: 100%;
	}
	&__discript {
		display: block;
		width: rem(34);
		height: rem(15);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: rem(-19);
	}
	&__text {
		text-align: center;
		font-size: rem(14);
	}
}