.img {
	display: block;
	max-width: 100%;
	&--center {
		margin-left: auto;
		margin-right: auto;
	}
	&--full {
		width: 100%;
		height: auto;
	}
	&--preview {
		width: calc(100% / 3 - 10px);
		float: left;
		display: block;
		height: auto;
		margin-right: rem(20);
		margin-bottom: rem(80);
		flex-shrink: 0;
	}
}