.btn {
	display: inline-flex;
	height: rem(60);
	align-items: center;
	text-decoration: none;
	font-weight: 600;
	border-radius: rem(50);
	padding: rem(19) rem(56);
	cursor: pointer;
	transition: 0.3s all;
	@include r(1200) {
		height: rem(50);
		padding: rem(15) rem(30);
	}
	&:hover {
		opacity: 0.7;
	}
	&--small {
		height: rem(50);
		@include r(1200) {
			height: rem(44);
		}
	}
	&--head {
		height: rem(50);
		font-size: rem(18);
		@include r(1200) {
			height: rem(44);
			font-size: rem(16);
		}
	}
	&--light {
		background-color: $light;
		color: $dark;
	}
	&--orange {
		background-color: $orange;
		color: $light;
	}
	&--download {
		padding: 0;
		color: $orange;
	}
	&--white {
		color: $light;
		border: 2px solid $light;
	}
	&--back {
		border: 2px solid $orange;
		background: none;
		color: $orange;
		background-image: url('../img/arrow-back.svg');
		background-position: rem(20) center;
		background-repeat: no-repeat;
	}
	&--tab {
		border: 2px solid $orange;
		background: none; 
	}
	&--tab-active {
		background-color: $orange;
		color: $light;
	}
	&--file {
		color: $dark;
		border: 2px solid $orange;
		padding: rem(19) rem(30);
	}
	&--inline {
		margin-right: rem(10);
		margin-bottom: rem(10);
	}
	&__icon {
		width: rem(24);
		height: rem(24);
		margin-right: rem(10);
	}
	&__icon-download {
		width: rem(48);
		height: rem(48);
		margin-right: rem(8);
		@include r(1200) {
			width: rem(32);
			height: rem(32);
		}
	}
	&__icon-load {
		width: rem(22);
		height: rem(22);
		margin-left: rem(14);
	}
}