.mm-panel_opened {
	scrollbar-color: $orange;
    scrollbar-width: rem(4);
    
	&::-webkit-scrollbar {
		width: rem(4);
		background-color: inherit;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $orange;
	}
	&::-webkit-scrollbar-button:vertical:start:decrement {
		display: none;
	}

	&::-webkit-scrollbar-button:vertical:end:increment {
		display: none;
	}

}

.mmenu {
	&__footer-link {
		svg {
			width: 26px;
			height: 26px;
			display: block;
		}
	}
}