<!DOCTYPE html>
<html lang="ru">
<head>
    <title>18. Требования к макетам 7</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <h2 class="title mb-80">
                    Листовки
                </h2>
                <div class="articles mb-60">
                    <div class="articles__content articles__content--center">
                        <div class="articles__item articles__item--20">
                            <article class="item-rule">
                                <div class="item-rule__thumb">
                                    <svg class="item-rule__icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-rule-1"></use>
                                    </svg>
                                </div>
                                <p class="item-rule__text">
                                    разрешение - <br>
                                    300 dpi
                                </p>
                            </article>
                        </div>
                        <div class="articles__item articles__item--20">
                            <article class="item-rule">
                                <div class="item-rule__thumb">
                                    <svg class="item-rule__icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-rule-2"></use>
                                    </svg>
                                </div>
                                <p class="item-rule__text">
                                    шрифты <br>
                                    в кривых
                                </p>
                            </article>
                        </div>
                        <div class="articles__item articles__item--20">
                            <article class="item-rule">
                                <div class="item-rule__thumb">
                                    <svg class="item-rule__icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-rule-3"></use>
                                    </svg>
                                </div>
                                <p class="item-rule__text">
                                    цветовая гамма <br> CMYK 
                                </p>
                            </article>
                        </div>
                        <div class="articles__item articles__item--20">
                            <article class="item-rule">
                                <div class="item-rule__thumb">
                                    <svg class="item-rule__icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-rule-4"></use>
                                    </svg>
                                </div>
                                <p class="item-rule__text">
                                    эффекты <br>
                                    перевести в растровые<br> изображения
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
                <h3 class="title title--small mb-60">
                    Формат файла
                </h3>
                <div class="articles">
                    <div class="articles__content articles__content--center">
                        <article class="item-format">
                            <div class="item-format__thumb">
                                <svg class="item-format__icon">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-1"></use>
                                </svg>
                                <svg class="item-format__discript">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-1"></use>
                                </svg>
                            </div>
                            <p class="item-format__text">
                                Adobe <br> Acrobat
                            </p>
                        </article>
                        <article class="item-format">
                            <div class="item-format__thumb">
                                <svg class="item-format__icon">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-2"></use>
                                </svg>
                                <svg class="item-format__discript">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-2"></use>
                                </svg>
                            </div>
                            <p class="item-format__text">
                                Версии 20 <br>и ниже
                            </p>
                        </article>
                        <article class="item-format">
                            <div class="item-format__thumb">
                                <svg class="item-format__icon">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-3"></use>
                                </svg>
                                <svg class="item-format__discript">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-3"></use>
                                </svg>
                            </div>
                            <p class="item-format__text">
                                Версии CC 2018 <br>
                                и ниже
                            </p>
                        </article>
                        <article class="item-format">
                            <div class="item-format__thumb">
                                <svg class="item-format__icon">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-4"></use>
                                </svg>
                                <svg class="item-format__discript">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-4"></use>
                                </svg>
                            </div>
                            <p class="item-format__text">
                                EPS
                            </p>
                        </article>
                        <article class="item-format">
                            <div class="item-format__thumb">
                                <svg class="item-format__icon">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-5"></use>
                                </svg>
                                <svg class="item-format__discript">
                                    <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-5"></use>
                                </svg>
                            </div>
                            <p class="item-format__text">
                                TIFF
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--gray section--decor">
            <div class="container">
                <h3 class="title title--small mb-60">
                    Размеры:
                </h3>
                <div class="editor mb-60">
                    <table class="table table--left">
                        <thead>
                            <tr>
                                <th class="table__col table__col--4">Формат</th>
                                <th class="table__col table__col--4">Безопасное поле</th>
                                <th class="table__col table__col--4">Печатный размер</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table__col table__col--4">А3 (297х420 мм)</td>
                                <td class="table__col table__col--4">291х414 мм</td>
                                <td class="table__col table__col--4">301х424 мм</td>
                            </tr>
                            <tr>
                                <td class="table__col table__col--4">А4 (210х297 мм)</td>
                                <td class="table__col table__col--4">204х291 мм</td>
                                <td class="table__col table__col--4">214х301 мм</td>
                            </tr>
                            <tr>
                                <td class="table__col table__col--4">А5 (148х210 мм)</td>
                                <td class="table__col table__col--4">142х206 мм</td>
                                <td class="table__col table__col--4">152х214 мм</td>
                            </tr>
                            <tr>
                                <td class="table__col table__col--4">А6 (105х148 мм)</td>
                                <td class="table__col table__col--4">99х142 мм</td>
                                <td class="table__col table__col--4">109х152 мм</td>
                            </tr>
                            <tr>
                                <td class="table__col table__col--4">1/3 А4 (99х210 мм)</td>
                                <td class="table__col table__col--4">93х206 мм</td>
                                <td class="table__col table__col--4">103х214 мм</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul>
                        <li>
                            Вылеты (припуски с обрезному формату) обязательны, когда часть изображения уходят под обрез (линия реза проходит по каринке)
                        </li>
                        <li>
                            Размер вылетов - по 2 мм. с каждой стороны
                        </li>
                        <li>
                            При отсутствии вылетов после резки по краям продукции могут быть белые поля разных размеров
                        </li>
                        <li>
                            Расстояние от значимых элементов макета (слов, номеров телефонов, линий и пр.) до линии реза должно быть не менее 3 мм., иначе элементы могут «зарезаться»
                        </li>
                    </ul>
                </div>
                <div class="columns mb-60">
                    <div class="columns__column columns__column--6">
                        <div class="editor">
                            <ul>
                                <li>
                                    Элементы вне безопасной зоны
                                </li>
                                <li>
                                    Нет выпуска фона для обрезки
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="columns__column columns__column--6">
                        <div class="editor">
                            <ul>
                                <li>
                                    Формат после обрезки 214х301 мм
                                </li>
                                <li>
                                    Формат до обрезки 210х297 мм
                                </li>
                                <li>
                                    Безопасное поле 204х291 мм (за эту рамку не должна выходить важная текстовая и графическая информация)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h3 class="title title--small mb-60">
                 Разрешение:
             </h3>
             <div class="editor">
                <ul>
                    <li>
                        Для печати визиток необходимо разрешение не менее 900 dpi;
                    </li>
                    <li>
                        Низкое разрешение приводит к потере качества изображения.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section--dark section--decor">
        <div class="container">
            <h3 class="title title--small mb-60">
                Неверная цветовая модель:
            </h3>
            <div class="editor mb-40">
                <ul>
                    <li>
                        Все элементы макета должны быть в цветовой модели CMYK, т.к. печать производится только в этой модели
                    </li>
                    <li>
                        Переведите все элементы из RGB в CMYK. Вы увидите изменения цветов макета и получите более ясное представление, как будет выглядеть макет при печати ( при условии, что у Вас откалиброванный монитор)
                    </li>
                    <li>
                        Черный цвет: ФОН - CMYK 55;55;55;100
                    </li>
                    <li>
                        ТЕКСТ - CMYK 0;0;0;100
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h3 class="title title--small mb-60">
                Текст:
            </h3>
            <div class="editor mb-60">
                <p>
                    Все текстовые обьекты в макете следует перевести в кривые. При несоблюдении этого правила происходит автоматическая замена шрифтов.
                </p>
            </div>
            <div class="editor mb-60">
                <p>
                    Если предполагается, что макет потребует редактирования, то ко всем форматам дополнительно потребуются обработанные фотографии максимального размера, шрифты и логотипы (желательно в векторном виде), используемые в макете. <br>
                    <strong>
                        Услуга по доработке макета для соотвтствия техническим требованиям является дополнительной и оплачивается отдельно. 
                    </strong>
                </p>
                <p>
                    Типография не несет ответственности за брак, из-за неверно подготовленного к печати макета заказчика. 
                </p>
            </div>
            <div class="columns">
                <div class="columns__column columns__column--4">
                    <img class="img img--center" src="img/alarm-template.png" alt="Внимание!">
                </div>
                <div class="columns__column columns__column--8">
                    <div class="editor">
                        <ul>
                            <li>
                                Файлы линейки Microsoft office (Word, Exel, Power Point) не являются макетами, подготовленными к печати;
                            </li>
                            <li>
                                При возникновении брака ввиду несоблюдения технических требований, вся ответственность ложиться на сторону предоставившую некорректный макет;
                            </li>
                            <li>
                                Макеты, не соответствующие данным требованиям, могут быть автоматически доработаны типографией без согласования с заказчиком;
                            </li>
                            <li>
                                Цвет при печати может отличаться от экранного из-за особенностей монитора. В связи с этим мы рекомендуем делать цветопробу. Без цветопробы претензии по цвету не принимаются.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="section section--footer">
    <div class="container">
        @@include("../blocks/modules/footer/footer.html")
    </div>
</footer>
@@include("../blocks/modules/demo/demo.html")
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
