<!DOCTYPE html>
<html lang="ru">
<head>
    <title>21. Требования к макетам 10</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")
        <main class="main">
            <section class="section section--breadcrumbs">
                <div class="container">
                    @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
                </div>
            </section>
            <section class="section section--top">
                <div class="container">
                    <h2 class="title mb-80">
                        Сувениры
                    </h2>
                    <div class="articles mb-60">
                        <div class="articles__content articles__content--center">
                            <div class="articles__item articles__item--20 mb-20">
                                <article class="item-rule">
                                    <div class="item-rule__thumb">
                                        <svg class="item-rule__icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-rule-1"></use>
                                        </svg>
                                    </div>
                                    <p class="item-rule__text">
                                        разрешение - <br>
                                        300 dpi
                                    </p>
                                </article>
                            </div>
                            <div class="articles__item articles__item--20 mb-20">
                                <article class="item-rule">
                                    <div class="item-rule__thumb">
                                        <svg class="item-rule__icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-rule-2"></use>
                                        </svg>
                                    </div>
                                    <p class="item-rule__text">
                                        шрифты <br>
                                        в кривых
                                    </p>
                                </article>
                            </div>
                            <div class="articles__item articles__item--20 mb-20">
                                <article class="item-rule">
                                    <div class="item-rule__thumb">
                                        <svg class="item-rule__icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-rule-3"></use>
                                        </svg>
                                    </div>
                                    <p class="item-rule__text">
                                        цветовая гамма <br> CMYK 
                                    </p>
                                </article>
                            </div>
                            <div class="articles__item articles__item--20 mb-20">
                                <article class="item-rule">
                                    <div class="item-rule__thumb">
                                        <svg class="item-rule__icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-rule-4"></use>
                                        </svg>
                                    </div>
                                    <p class="item-rule__text">
                                        эффекты <br>
                                        перевести в растровые<br> изображения
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <h3 class="title title--small mb-60">
                        Формат файла
                    </h3>
                    <div class="articles">
                        <div class="articles__content articles__content--center">
                            <article class="item-format mb-20">
                                <div class="item-format__thumb">
                                    <svg class="item-format__icon">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-1"></use>
                                    </svg>
                                    <svg class="item-format__discript">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-1"></use>
                                    </svg>
                                </div>
                                <p class="item-format__text">
                                    Adobe <br> Acrobat
                                </p>
                            </article>
                            <article class="item-format mb-20">
                                <div class="item-format__thumb">
                                    <svg class="item-format__icon">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-2"></use>
                                    </svg>
                                    <svg class="item-format__discript">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-2"></use>
                                    </svg>
                                </div>
                                <p class="item-format__text">
                                    Версии 20 <br>и ниже
                                </p>
                            </article>
                            <article class="item-format mb-20">
                                <div class="item-format__thumb">
                                    <svg class="item-format__icon">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-3"></use>
                                    </svg>
                                    <svg class="item-format__discript">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-3"></use>
                                    </svg>
                                </div>
                                <p class="item-format__text">
                                    Версии CC 2018 <br>
                                    и ниже
                                </p>
                            </article>
                            <article class="item-format mb-20">
                                <div class="item-format__thumb">
                                    <svg class="item-format__icon">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-4"></use>
                                    </svg>
                                    <svg class="item-format__discript">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-4"></use>
                                    </svg>
                                </div>
                                <p class="item-format__text">
                                    EPS
                                </p>
                            </article>
                            <article class="item-format mb-20">
                                <div class="item-format__thumb">
                                    <svg class="item-format__icon">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-5"></use>
                                    </svg>
                                    <svg class="item-format__discript">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-5"></use>
                                    </svg>
                                </div>
                                <p class="item-format__text">
                                    TIFF
                                </p>
                            </article>
                            <article class="item-format mb-20">
                                <div class="item-format__thumb">
                                    <svg class="item-format__icon">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-6"></use>
                                    </svg>
                                    <svg class="item-format__discript">
                                        <use xlink:href="img/sprites/sprite.svg#fact-icon-discript-6"></use>
                                    </svg>
                                </div>
                                <p class="item-format__text">
                                    PSD
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--gray section--decor">
                <div class="container">
                    <h3 class="title title--small mb-60">
                        Кружки
                    </h3>
                    <img src="img/cup.svg" alt="Размеры для кружек" class="img img--center mb-80">
                    <div class="editor">
                        <ul>
                            <li>
                                Размер запечатываемой области на кружке – 80 на 200 мм.
                            </li>
                            <li>
                                Предоставляйте макеты в PDF, Tiff, PSD. Файлы из программ пакета Microsoft office (Word, Excel, Publisher) не являются оригинал-макетами и требуют доработки за отдельную плату.
                            </li>
                            <li>
                                Масштаб изображения в макете должен быть 1:1, а разрешение - 300 dpi
                            </li>
                            <li>
                                Важную информацию необходимо размещать не ближе 2–3 мм к краю
                            </li>
                            <li>
                                Цветовая модель - CMYK (Нельзя использовать RGB и другие цветовые модели, это приведет к искажению цвета)
                            </li>
                            <li>
                                Цветовой профиль FOGRA 39. Минимальная толщина линий 0,15 мм. Минимальная плотность растра 8 %
                            </li>
                            <li>
                                В макете не должно быть эффектов, невидимых или заблокированных слоев и объектов
                            </li>
                            <li>
                                Все шрифты и обводки необходимо перевести в кривые
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <h3 class="title title--small mb-60">
                        Ручки
                    </h3>
                    <div class="editor mb-60">
                        <h4>
                            Общие требования к файлу
                        </h4>
                        <ul>
                            <li>
                                Формат - векторный PDF
                            </li>
                            <li>
                                Цветовая модель файлов - CMYK
                            </li>
                            <li>
                                Цветовой профиль - FOGRA 39
                            </li>
                            <li>
                                В макете не должно быть эффектов, невидимых или заблокированных слоев и объектов
                            </li>
                            <li>
                                Все шрифты и обводки необходимо перевести в кривы
                            </li>
                        </ul>
                    </div>
                    <div class="columns columns--start mb-60">
                        <div class="columns__column columns__column--4 mb-20">
                            <h5 class="column-title mb-30">
                                УФ-печать
                            </h5>
                            <div class="editor">
                                <ul>
                                    <li>
                                        Минимальная толщина линий 0,15 мм
                                    </li>
                                    <li>
                                        Вылеты - 2 мм
                                    </li>
                                    <li>
                                        Минимальная плотность растра 10%
                                    </li>
                                    <li>
                                        Нанесение только на светлую основу
                                    </li>
                                    <li>
                                        Сумма красок CMYK не более 330 %
                                    </li>
                                </ul>
                                <p>
                                    <b>
                                        Цвет нанесения - палитра CMYK
                                    </b>
                                </p>
                            </div>
                        </div>
                        <div class="columns__column columns__column--2 mob-hidden"></div>
                        <div class="columns__column columns__column--4 mb-20">
                            <h5 class="column-title mb-30">
                                Лазерная гравировка по металлу
                            </h5>
                            <div class="editor">
                                <p>
                                    Минимальная толщина:
                                </p>
                                <ul>
                                    <li>
                                        горизонтальных линий 0,12 мм
                                    </li>
                                    <li>
                                        вертикальных линий 0,15 мм
                                    </li>
                                    <li>
                                        инверсных линий 0,25 мм
                                    </li>
                                </ul>
                                <p>
                                    Расстояние между соседними линиями > 0,3 мм
                                </p>
                                <p>
                                    Цвет нанесения - зависит от материала изделия
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="editor mb-60">
                        <p>
                            Если предполагается, что макет потребует редактирования, то ко всем форматам дополнительно потребуются обработанные фотографии максимального размера, шрифты и логотипы (желательно в векторном виде), используемые в макете. <br>
                            <strong>
                                Услуга по доработке макета для соотвтствия техническим требованиям является дополнительной и оплачивается отдельно. 
                            </strong>
                        </p>
                        <p>
                            Типография не несет ответственности за брак, из-за неверно подготовленного к печати макета заказчика. 
                        </p>
                    </div>
                    <div class="columns">
                        <div class="columns__column columns__column--4 mb-20">
                            <img class="img img--center" src="img/alarm-template.png" alt="Внимание!">
                        </div>
                        <div class="columns__column columns__column--8 mb-20">
                            <div class="editor">
                                <ul>
                                    <li>
                                        Файлы линейки Microsoft office (Word, Exel, Power Point) не являются макетами, подготовленными к печати;
                                    </li>
                                    <li>
                                        При возникновении брака ввиду несоблюдения технических требований, вся ответственность ложиться на сторону предоставившую некорректный макет;
                                    </li>
                                    <li>
                                        Макеты, не соответствующие данным требованиям, могут быть автоматически доработаны типографией без согласования с заказчиком;
                                    </li>
                                    <li>
                                        Цвет при печати может отличаться от экранного из-за особенностей монитора. В связи с этим мы рекомендуем делать цветопробу. Без цветопробы претензии по цвету не принимаются.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="section section--footer">
            <div class="container">
                @@include("../blocks/modules/footer/footer.html")
            </div>
        </footer>
        @@include("../blocks/modules/demo/demo.html")
    </div>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
