<!DOCTYPE html>
<html lang="ru">
<head>
    <title>2. Услуги</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <h2 class="title mb-80">
                    Услуги
                </h2>
                <div class="editor mb-60">
                    <p>
                        Мы выполняем широкий спектр услуг по производству и установке рекламы. Мы не рекламное агентство, а специализированная фирма с профессиональными сотрудниками, оборудованием и транспортом.
                        Мы делаем все для того,чтобы работать с нами было понятно и эффективно!
                    </p>
                </div>
                <div class="articles">
                    <div class="articles__content">
                        <div class="articles__item articles__item--50">

                        </div>
                        <div class="articles__item articles__item--25">

                        </div>
                        <div class="articles__item articles__item--25">

                        </div>
                        <div class="articles__item articles__item--25">

                        </div>
                        <div class="articles__item articles__item--25">

                        </div>
                        <div class="articles__item articles__item--50">

                        </div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="section section--footer">
        <div class="container">
            @@include("../blocks/modules/footer/footer.html")
        </div>
    </footer>
    @@include("../blocks/modules/demo/demo.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
