<!DOCTYPE html>
<html lang="ru">
<head>
    <title>3. Категория услуг</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <h2 class="title mb-80">
                    Фирменная сувенирная продукция
                </h2>
                <img class="img img--preview" src="https://placehold.it/377x406" alt="Услуги">
                <div class="editor mb-80">
                    <h2>
                        СУВЕНИРНАЯ ПРОДУКЦИЯ С НАНЕСЕНИЕМ ЛОГОТИПА КОМПАНИИ
                    </h2>
                    <p>
                        Современная полиграфия и рекламная индустрия предлагает множество вариантов сувенирной п родукции, которую можно брендировать-наносить логотипы, реквизиты и прочие данные. Как не утонуть в этом океане ассортимента? Разберемся вместе.
                        Что наносить?
                    </p>
                    <p>
                        Если у вас до сих пор нет бренда, но вы задумываетесь над его созданием. Самое время. Разработку логотипа лучше поручить дизайнерам. Выскажите свои пожелания, как он должен выглядеть, придумайте звучное название, простые и запоминающиеся формы. Используйте привлекательные яркие цвета. Помните, на продукции с вашим «лого» обязательно должны быть контакты. Причем если офис в аренде, а вы склонны к переездам, лучше указать телефон и сайт, те данные, которые при любых обстоятельствах дадут возможность связаться с вами и в редких исключениях могут оказаться ложной информацией.
                    </p>
                </div>
                <div class="articles">
                    <div class="articles__content">
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-1.png');">
                                <h4 class="link-card__title">
                                    Ежедневники и блокноты
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-2.png');">
                                <h4 class="link-card__title">
                                    Ручки
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-3.png');">
                                <h4 class="link-card__title">
                                    Футболки
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-4.png');">
                                <h4 class="link-card__title">
                                    Кружки
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-5.png');">
                                <h4 class="link-card__title">
                                    Картины на колсте
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-6.png');">
                                <h4 class="link-card__title">
                                    Пакеты
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-7.png');">
                                <h4 class="link-card__title">
                                    Подарочные наборы
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-8.png');">
                                <h4 class="link-card__title">
                                    Силиконовые браслеты
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-9.png');">
                                <h4 class="link-card__title">
                                    SLAP браслеты
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-10.png');">
                                <h4 class="link-card__title">
                                    Ленты для бейджей
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-11.png');">
                                <h4 class="link-card__title">
                                    Флешки
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-12.png');">
                                <h4 class="link-card__title">
                                    Зарядное устройство
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-13.png');">
                                <h4 class="link-card__title">
                                    Светоотражатели
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-14.png');">
                                <h4 class="link-card__title">
                                    Стаканы
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-15.png');">
                                <h4 class="link-card__title">
                                    Термокружки и термосы
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-16.png');">
                                <h4 class="link-card__title">
                                    Спортивные бутылки
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-17.png');">
                                <h4 class="link-card__title">
                                    Попсокеты
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-18.png');">
                                <h4 class="link-card__title">
                                    Сумки
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-19.png');">
                                <h4 class="link-card__title">
                                    Таблетницы
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-20.png');">
                                <h4 class="link-card__title">
                                    Пляжные принадлежности
                                </h4>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            <a href="" class="link-card" style="background-image: url('img/branded-21.png');">
                                <h4 class="link-card__title">
                                    Эксклюзивные сувенирные изделия
                                </h4>
                            </a>
                        </div>

                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--gray section--decor">
            <div class="container">
                <h3 class="title title--small mb-60">
                    Наши работы
                </h3>
                <div class="articles">
                    <div class="articles__content">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/preview-work/preview-work.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/preview-work/preview-work.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/preview-work/preview-work.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/preview-work/preview-work.html")
                        </div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                    </div>
                    <div class="articles__toolbar">
                        <a href="" class="btn btn--orange">
                            <span>
                                Все работы
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h3 class="title title--small mb-60">
                    ПРАЙС НА ИЗГОТОВЛЕНИЕ СУВЕНИРНОЙ ПРОДУКЦИИ
                </h3>
                <div class="columns">
                    <div class="columns__column columns__column--9">
                        <div class="editor mb-40">
                            <p>
                                Индивидуальные заказы расчитываются отдельно. На стоимость влияет множество факторов, например при изготовлении печатной продукции цена может изменяться в зависимости от сложности изделия, площади и цветности нанесенной информациии, от плотности и стоимости материалов и д.р. 
                            </p>
                            <p>
                                Отправляйте Ваши запросы на просчет и мы предоставим Вам всю необходимую информацию. На крупные заказы и для постоянных клиентов предоставляем систему бонусов и скидок.Если вы не нашли в прайсе нужный для вас тираж или изделие, то обращайтесь к менеджеру для уточнения стоимости. Цены уточняйте у менеджера по телефону <a href="tel:+74012750155">+7 (4012) 75-01-55</a>
                            </p>
                        </div>
                        <a href="" class="btn btn--download">
                            <svg class="btn__icon-download">
                                <use xlink:href="img/sprites/sprite.svg#icon-download"></use>
                            </svg>
                            <span>
                                СКАЧАТЬ ПРАЙС ЛИСТ
                            </span>
                        </a>
                    </div>
                    <div class="columns__column columns__column--3">
                        <img class="img img--center" src="img/price-img.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="section section--footer">
        <div class="container">
            @@include("../blocks/modules/footer/footer.html")
        </div>
    </footer>
    @@include("../blocks/modules/demo/demo.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
