<!DOCTYPE html>
<html lang="ru">
<head>
    <title>5. Продукт</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--gray section--ad" style="background-image: url('img/product-1.png');">
            <div class="container">
                @@include("../blocks/modules/product-ad/product-ad.html")
            </div>
        </section>
        <section class="section section--breadcrumbs">
            <div class="container">
                @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <div class="editor">
                    <h2>
                        ВИЗИТКИ
                    </h2>
                    <p>
                        Визитки — традиционный носитель контактной информации о человеке или организации. Визитка является пожалуй самым распостраненым универсальным рекламным носителем в котором указанна наиболее важная информация о человеке. Изготовление визиток достаточно оперативный процесс, и не заставит Вас ждать если Вам надо срочно на встречу. Обычно изготавливаются  из бумаги, картона (обычно или дизайнерского) а так же пластика небольшого формата. Размеры визиток бывают двух типов 90 х 50 мм и 85 х 55 мм. Визитки (спб) включает имя владельца, компанию (обычно с логотипом) и контактную информацию (адрес, телефонный номер и/или адрес электронной почты). Условно можно разделить на виды: личные (семейные), деловые и корпоративные. Компания «Ситиграфика» предлагает разнообразную печать  визиток методом: офсетная печать визиток, цифровая печать визиток, визитки шелкография, с тиснением, уф-лакирование и т. д.
                    </p>
                    <p>
                        Разница этих двух видов печати заключается в способе изготовления продукции. Если Вы впервые делаете подобный заказ, то скорее вы будете заказывать небольшой тираж. Обычно начинают со 100 штук. Это оптимальное количество поможет понять как работает такой вид полиграфии. Цифровая печать предполагает небольшие тиражи: 100, 200, 300, 400 штук визиток. Остальные тиражи — это офсетная печать. Сокращенно мы называем это цифра и печать. Так вот, цифра делается быстрее, качество изображения на нем фотографическое. Этот метод хорошо подходит тем, у кого срочный заказ.
                    </p>
                    <p>
                        Мы можем напечатать так буквально за несколько часов. Есть одна тонкость при выборе метода печати цифровой — картон несколько тоньше, чем при офсетной. Но на практике, это никак не отражается. Другое дело, если вы осознанно подошли к печати визиток и заказываете большие тиражи сразу. Тогда специально для вас мы предлагаем офсетную печать. Пусть это займет сутки, но зато на руках у вас будет изделие из плотного картона с высоким качеством изображения. Здесь есть и еще одно преимущество, цена значительно отличается, а именно дешевле и выгоднее заказывать офсет большим тиражом. Поэтому подходите с вопросом изготовления исходя из личных соображений, времени и желания. В любом случае мы предоставим для вас продукцию высокого качества. А если вы еще не придумали дизайн для изготовления, то мы с радостью предлагаем вам и такую услугу за приемлемые деньги. Наши дизайнеры учтут ваши пожелания и вы получите индивидуальную продукцию, согласна вашим представлениям
                    </p>
                </div>
            </div>
        </section>
        <section class="section section--gray section--decor-top">
            <div class="container">
                <h3 class="title title--small mb-60">
                    ПРАЙС НА ИЗГОТОВЛЕНИЕ СУВЕНИРНОЙ ПРОДУКЦИИ
                </h3>
                <div class="columns">
                    <div class="columns__column columns__column--9">
                        <div class="editor mb-40">
                            <p>
                                Индивидуальные заказы расчитываются отдельно. На стоимость влияет множество факторов, например при изготовлении печатной продукции цена может изменяться в зависимости от сложности изделия, площади и цветности нанесенной информациии, от плотности и стоимости материалов и д.р. 
                            </p>
                            <p>
                                Отправляйте Ваши запросы на просчет и мы предоставим Вам всю необходимую информацию. На крупные заказы и для постоянных клиентов предоставляем систему бонусов и скидок.Если вы не нашли в прайсе нужный для вас тираж или изделие, то обращайтесь к менеджеру для уточнения стоимости. Цены уточняйте у менеджера по телефону <a href="tel:+74012750155">+7 (4012) 75-01-55</a>
                            </p>
                        </div>
                        <a href="" class="btn btn--download">
                            <svg class="btn__icon-download">
                                <use xlink:href="img/sprites/sprite.svg#icon-download"></use>
                            </svg>
                            <span>
                                СКАЧАТЬ ПРАЙС ЛИСТ
                            </span>
                        </a>
                    </div>
                    <div class="columns__column columns__column--3">
                        <img class="img img--center" src="img/price-img.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="section section--footer">
        <div class="container">
            @@include("../blocks/modules/footer/footer.html")
        </div>
    </footer>
    @@include("../blocks/modules/demo/demo.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
