<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Ракета</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div id="page">
        
        
        @@include("../blocks/modules/header/header.html")
        <main class="main">
            <section class="section section--intro">
                @@include("../blocks/modules/intro-slider/intro-slider.html")
            </section>
            <section class="section section--light">
                <div class="container">
                    <div class="columns">
                        <div class="columns__column columns__column--6 mb-20">
                            <h2 class="title mb-40">
                                О нас
                            </h2>
                            <div class="editor">
                                <p>
                                    Рекламно производственная компания “Ракета” располагает обширными рекламно-производственными возможностями. Над вашими проектами трудится команда молодых, амбициозных, нацеленных на результат специалистов своего дела.
                                </p>
                                <p>
                                    Большой опыт работы, высокий уровень контроля качества, ответственность, креативный подход, гибкость в ценовой политике - это те факторы, по которым для реализации своих планов стоит выбрать именно нас.
                                </p>
                            </div>
                        </div>
                        <div class="columns__column columns__column--6 mb-20">
                            <img class="img img--center" src="img/front-about.svg" alt="О нас">
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--gray section--decor">
                <div class="container">
                    <h2 class="title mb-60">
                        Почему мы?
                    </h2>
                    <div class="articles">
                        <div class="articles__content">
                            <div class="articles__item articles__item--33 mb-40">
                                <div class="front-fact">
                                    <svg class="front-fact__icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-why-speed"></use>
                                    </svg>
                                    <div class="front-fact__content">
                                        <div class="editor">
                                            <h2>
                                                Скорость
                                            </h2>
                                            <ul>
                                                <li>
                                                    Отвечаем на письма за <strong>10</strong> минут
                                                </li>
                                                <li>
                                                    Берем трубку в течение <strong>5</strong> гудков
                                                </li>
                                                <li>
                                                    Выезжаем на встречу в течение дня
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="articles__item articles__item--33 mb-40">
                                <div class="front-fact">
                                    <svg class="front-fact__icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-why-time"></use>
                                    </svg>
                                    <div class="front-fact__content">
                                        <div class="editor">
                                            <h2>
                                                Сроки
                                            </h2>
                                            <ul>
                                                <li>
                                                    Дизайн и смету делаем до <strong>2-х</strong> дней
                                                </li>
                                                <li>
                                                    Изготавливаем вывеску от <strong>5</strong> до <strong>10</strong> рабочих дней
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="articles__item articles__item--33 mb-40">
                                <div class="front-fact">
                                    <svg class="front-fact__icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-why-quality"></use>
                                    </svg>
                                    <div class="front-fact__content">
                                        <div class="editor">
                                            <h2>
                                                Качество
                                            </h2>
                                            <ul>
                                                <li>
                                                    Собственное производство
                                                </li>
                                                <li>
                                                    Есть свой независимый отдел технического контроля
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--light">
                <div class="container">
                    <h2 class="title mb-60">
                        Основные услуги
                    </h2>
                    <div class="articles">
                        <div class="articles__content">
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/service-1.png');">
                                    <h4 class="link-card__title">
                                        Полиграфия
                                    </h4>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/service-2.png');">
                                    <h4 class="link-card__title">
                                        Фирменная сувенирная продукция
                                    </h4>
                                </a>
                            </div>
                            <div class="articles__item articles__item--50 mb-20">
                                <a href="" class="link-card link-card--orange link-card--invert" style="background-image: url('img/service-3.png');">
                                    <h4 class="link-card__title">
                                        Широкоформатная печать
                                    </h4>
                                </a>
                            </div>
                            <div class="articles__item articles__item--50 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/service-4.png');">
                                    <h4 class="link-card__title">
                                        Наружная <br> и интерьерная <br> реклама
                                    </h4>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/service-5.png');">
                                    <h4 class="link-card__title">
                                        Брендирование автотранспорта
                                    </h4>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/service-6.png');">
                                    <h4 class="link-card__title">
                                        Разработка дизайна 
                                    </h4>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                        </div>
                        <div class="articles__toolbar">
                            <a href="" class="btn btn--orange">
                                <span>
                                    Все услуги
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--decor section--orange">
                <div class="container">
                    <div class="columns">
                        <div class="columns__column columns__column--6">
                            <h2 class="title mb-40">
                                Производство рекламы
                            </h2>
                            <div class="editor">
                                <p>
                                    Мы работаем в производстве рекламы больше 10 лет и знаем обо всех нюансах этой сферы.
                                    Мы все делаем собственными силами, поэтому отвечаем за разумность цен, качество изделий и сроки исполнения заказов.
                                </p>
                                <p>
                                    <strong>
                                        Если мы с вами о чем-то договорились, можете быть уверены: так и будет.
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <div class="columns__column columns__column--6 mob-hidden">
                            <img class="img img--center" src="img/front-add.svg" alt="Производство рекламы">
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--light">
                <div class="container">
                    <h2 class="title mb-40">
                        Акции
                    </h2>
                    <div class="editor mb-60">
                        <p>
                            Мы регулярно проводим различные акции для наших клиентов. <br>
                            Заказывайте рекламу выгодно!
                        </p>
                        <p>
                            <strong>
                                Подробности и условия Акции уточняйте у менеджера!
                            </strong>
                        </p>
                    </div>
                    <div class="articles">
                        <div class="articles__content">
                            <div class="articles__item articles__item--50 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/promo-1.png');">
                                    <p class="link-card__text">
                                        Закажи световую вывеску и получи 1-ую мойку с обработкой защитным покрытием бесплатно!
                                    </p>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/promo-2.png');">
                                    <p class="link-card__text">
                                        К каждой вывеске паспорт-спецификация по дизайн коду в подарок!
                                    </p>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/promo-3.png');">
                                    <p class="link-card__text">
                                        Двухсторонние, цветные визитки по 1,5 руб.
                                    </p>
                                    <span class="link-card__price link-card__price--right">
                                        1.5 ₽
                                    </span>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/promo-4.png');">
                                    <p class="link-card__text">
                                        Двухсторонние, цветные листовки от 1,99 руб.
                                    </p>
                                    <span class="link-card__price link-card__price--left">
                                        150 ₽
                                    </span>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="link-card" style="background-image: url('img/promo-5.png');">
                                    <p class="link-card__text">
                                        При заказе от 30000 рублей табличка «Режим работы» в подарок!
                                    </p>
                                </a>
                            </div>
                            <div class="articles__item articles__item--50 mb-20">
                                <a href="" class="link-card link-card--orange link-card--invert" style="background-image: url('img/promo-6.png');">
                                    <p class="link-card__text">
                                        При заказе от 50000 рублей 1000 цветных визиток в подарок!
                                    </p>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                        </div>
                        <div class="articles__toolbar">
                            <a href="" class="btn btn--orange">
                                <span>
                                    Все акции
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--light section--decor-top">
                <div class="container">
                    <h2 class="title mb-80">
                        Нам доверяют
                    </h2>
                    <div class="articles">
                        <div class="articles__content">
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="partner">
                                    <img src="img/partner-1.png" alt="Название фирмы" class="partner__img">
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="partner">
                                    <img src="img/partner-2.png" alt="Название фирмы" class="partner__img">
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="partner">
                                    <img src="img/partner-3.png" alt="Название фирмы" class="partner__img">
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="partner">
                                    <img src="img/partner-4.png" alt="Название фирмы" class="partner__img">
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="partner">
                                    <img src="img/partner-5.png" alt="Название фирмы" class="partner__img">
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="partner">
                                    <img src="img/partner-6.png" alt="Название фирмы" class="partner__img">
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="partner">
                                    <img src="img/partner-7.png" alt="Название фирмы" class="partner__img">
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 mb-20">
                                <a href="" class="partner">
                                    <img src="img/partner-8.png" alt="Название фирмы" class="partner__img">
                                </a>
                            </div>
                        </div>
                        <div class="articles__toolbar">
                            <a href="" class="btn btn--orange">
                                <span>
                                    Смотреть еще
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--gray section--decor-top">
                <div class="container">
                    <div class="columns">
                        <div class="columns__column columns__column--4 mb-20">
                            <h2 class="title mb-115">
                                Контакты
                            </h2>
                            <div class="contact-line mb-16">
                                <svg class="contact-line__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-contacts-adress"></use>
                                </svg>
                                <p class="contact-line__text">
                                    Калининград, Старшего лейтенанта Сибирякова, 23Б ("Твин")
                                </p>
                            </div>
                            <a href="+74012750155" class="contact-line mb-16">
                                <svg class="contact-line__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-contacts-call"></use>
                                </svg>
                                <p class="contact-line__text">
                                    +7 (4012) 75-01-55
                                </p>
                            </a>
                            <a href="+79814750155" class="contact-line mb-16">
                                <svg class="contact-line__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-contacts-call"></use>
                                </svg>
                                <p class="contact-line__text">
                                    +7 981-475-01-55
                                </p>
                                <svg class="contact-line__messenger">
                                    <use xlink:href="img/sprites/sprite.svg#icon-telegram"></use>
                                </svg>
                                <svg class="contact-line__messenger">
                                    <use xlink:href="img/sprites/sprite.svg#icon-viber"></use>
                                </svg>
                                <svg class="contact-line__messenger">
                                    <use xlink:href="img/sprites/sprite.svg#icon-whatsapp"></use>
                                </svg>
                            </a>
                            <a href="mailto:info@39rpk.ru" class="contact-line mb-16">
                                <svg class="contact-line__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-contacts-mail"></use>
                                </svg>
                                <p class="contact-line__text">
                                    info@39rpk.ru
                                </p>
                            </a>
                            <div class="contact-line mb-16">
                                <svg class="contact-line__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-contacts-clock"></use>
                                </svg>
                                <p class="contact-line__text">
                                    Пн-Пт с 10 до 19
                                </p>
                            </div>
                        </div>
                        <div class="columns__column columns__column--8 mb-20">
                            <div class="map">
                                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3b199170e7110c1d41d477af41d8f4f093829cc5b4cea75c7ccd48aeb79d80c0&amp;width=100%25&amp;lang=ru_RU&amp;scroll=false"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="section section--footer">
            <div class="container">
                @@include("../blocks/modules/footer/footer.html")
            </div>
        </footer>
        @@include("../blocks/modules/demo/demo.html")
    </div>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
