.link-card {
	background-color: #F2F2F2;
	display: block;
	min-height: rem(300);
	width: 100%;
	position: relative;
	padding: rem(30);
	text-decoration: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center 80%;
	@include r(1200) {
		
	}
	&:hover {
		opacity: 0.7;
	}
	&--invert {
		color: $light;
	}
	&--orange {
		background-color: $orange;
	}
	&__title {
		font-size: rem(20);
		font-weight: 700;
		display: block;
	}
	&__text {
		font-weight: 500;
	}
	&__price {
		background-color: $dark;
		position: absolute;
		bottom: rem(12);
		color: $light;
		font-weight: 700;
		font-size: rem(18);
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(72);
		border-radius: rem(52);
		padding-left: rem(12);
		padding-right: rem(12);
		min-width: rem(72);
		&--left {
			left: 12px;
		}
		&--right {
			right: 12px;
		}
	}
}