.title {
	text-transform: uppercase;
	color: inherit;
	font-weight: 700;
	font-size: rem(48);
	font-family: $font-title;
	&--small {
		font-size: rem(24);
		font-family: $font-main;
	}
	&--underline-light {
		padding-bottom: rem(20);
		border-bottom: 2px solid $light;
	}
	&--underline-orange {
		padding-bottom: rem(20);
		border-bottom: 2px solid $orange;
	}
}