.breadcrumbs {
	display: flex;
	align-items: center;
	&__link {
		text-decoration: none;
		flex-shrink: 0;
		&:hover {
			opacity: 0.7;
		}
		&--static {
			color: $gray;
			flex-shrink: 1;
			pointer-events: none;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	&__icon {
		flex-shrink: 0;
		display: block;
		width: rem(12);
		height: rem(12);
		margin-left: rem(10);
		margin-right: rem(10);
	}
}