.news-card {
	display: block;
	text-decoration: none;
	padding-bottom: rem(20);
	text-align: center;
	&:hover {
		opacity: 0.7;
	}
	&__thumb {
		display: block;
		margin-bottom: rem(25);
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__title {
		margin-bottom: rem(20);
		font-weight: 700;
		font-size: rem(18);
	}
}