.select {
	display: inline-flex;
	height: rem(50);
	align-items: center;
	text-decoration: none;
	font-weight: 600;
	border-radius: rem(50);
	border: 2px solid $orange;
	background: none;
	padding: rem(10) rem(20);
	cursor: pointer;
	transition: 0.3s all;
	box-sizing: border-box;
	background-image: url('../img/dropdown-icon.svg');
	background-size: rem(16);
	background-repeat: no-repeat;
	background-position: center right rem(15);
	-moz-appearance: none;
	-webkit-appearance: none;
	&::-ms-expand {
		display: none;
	}
}