.intro-slider {
	background-color: $dark;
	height: 690px;
	@include r(1200) {
		height: calc(100vh - 48px);
	}
	&__wrapper {

	}
	&__slide {
		background-repeat: no-repeat;
		background-position: center;
		color: $light;
		height: 100%;
		// background-size: auto 100%;
		background-size: cover;
		@include r(1200) {
			background-size: cover;
			text-align: center;
		}
	}
	&__slide-content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.6);
	}
	&__pagintaion {
		position: absolute;
		z-index: 2;
		right: 100px !important;
		top: 50%;
		display: flex;
		flex-direction: column;
		@include r(1200) {
			flex-direction: row;
			top: auto !important;
			bottom: rem(20) !important;
			right: 50% !important;
			transform: translateX(50%) !important;
		}
	}
	&__bullet {
		display: block;
		width: rem(15);
		height: rem(15);
		background-color: $light;
		border-radius: rem(20);
		transition: 0.3s all;
		cursor: pointer;
		margin-top: rem(5);
		margin-bottom: rem(5);
		@include r(1200) {
			width: rem(10);
			height: rem(10);
		}
		@include r(1200) {
			flex-direction: row;
			margin-left: rem(5);
			margin-right: rem(5);
			top: auto !important;
			bottom: rem(5) !important;
			margin-top: 0;
			margin-bottom: 0;
		}
		&:hover {
			opacity: 0.7;
		}
		&--active {
			background-color: $orange;
		}
	}
}