.footer {
	&__columns {
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			display: block;
		}
	}
	&__column {
		&--4 {
			width: calc(100% / 12 * 4 - 10px);
		}
		&--8 {
			width: calc(100% / 12 * 8 - 10px);
		}
	}
	&__title {
		font-weight: 700;
		margin-bottom: 1em;
		color: $orange;
		@include r(1200) {
			display: none;
		}
	}
	&__logo {
		display: inline-block;
		width: fit-content;
		margin-right: rem(20);
		&:last-of-type {
			margin-right: 0;
			@include r(1200) {
				margin-left: auto;
				margin-right: auto;
			}
		}
		img {
			height: rem(52);
		}
		&:hover {
			opacity: 0.7;
		}
		@include r(1200) {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__main-nav {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex-grow: 1;
	}
	&__nav {
		columns: 2;
		column-gap: rem(20);
		@include r(1200) {
			display: none;
		}
	}
	&__link {
		display: block;
		width: fit-content;
		font-weight: 500;
		margin-bottom: 1em;
		text-decoration: none;
		&:last-of-type {
			margin-bottom: 0;
		}
		@include r(1200) {
			display: none;
		}
		&--light {
			font-weight: 300;
		}
		&:hover {
			opacity: 0.7;
		}
	}
}