.partner {
	border: 1px solid #E0E0E0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	height: 100%;
	&__img {
		display: block;
		max-width: 80%;
		max-height: 128px;
	}
	&:hover {
		opacity: 0.7;
	}
}