.articles {
	clear: both;
	&__nav {
		margin-bottom: rem(60);
		.btn {
			margin-right: rem(20);
			margin-bottom: rem(20);
		}
		.select {
			display: none;
			visibility: hidden;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&--isotope {
			margin-left: rem(-15);
			margin-right: rem(-15);
		}
	}
	&__toolbar {
		margin-top: rem(40);
		display: flex;
		justify-content: center;
	}
	&__item {
		margin-bottom: rem(20);
		width: 100%;
		&--isotope {
			padding: rem(10);
		}
		&--25  {
			width: calc(25% - 15px);
		}
		&--33  {
			width: calc(100% / 3 - 15px);
		}
		&--50  {
			width: calc(50% - 10px);
		}
		&--66 {
			width: calc(100% / 12 * 8 - 7px);
		}
		&--clear {
			margin-bottom: 0;
		}
	}
}